In [1]:
import pandas as pd

path="D:/H&M dataset/transactions_train.csv"

df=pd.read_csv(path)
df

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2
...,...,...,...,...,...
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2
31788321,2020-09-22,fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...,918325001,0.043203,1
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2

In [2]:
#df=df[:100]
df=df[["customer_id","article_id"]]
df

                                                customer_id  article_id
0         000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   663713001
1         000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   541518023
2         00007d2de826758b65a93dd24ce629ed66842531df6699...   505221004
3         00007d2de826758b65a93dd24ce629ed66842531df6699...   685687003
4         00007d2de826758b65a93dd24ce629ed66842531df6699...   685687004
...                                                     ...         ...
31788319  fff2282977442e327b45d8c89afde25617d00124d0f999...   929511001
31788320  fff2282977442e327b45d8c89afde25617d00124d0f999...   891322004
31788321  fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...   918325001
31788322  fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...   833459002
31788323  fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...   898573003

[31788324 rows x 2 columns]

In [4]:
path2="D:/H&M dataset/articles.csv"
df2=pd.read_csv(path2)
df2.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

In [5]:
df2=df2[["article_id","prod_name","product_type_name","product_group_name"]]
df2.head()

   article_id          prod_name product_type_name  product_group_name
0   108775015          Strap top          Vest top  Garment Upper body
1   108775044          Strap top          Vest top  Garment Upper body
2   108775051      Strap top (1)          Vest top  Garment Upper body
3   110065001  OP T-shirt (Idro)               Bra           Underwear
4   110065002  OP T-shirt (Idro)               Bra           Underwear

In [9]:
path3="D:/H&M dataset/customers.csv"
df3=pd.read_csv(path3)
df3.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...

In [10]:
df3=df3['customer_id']
df3.head()

0    00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...
1    0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...
2    000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...
3    00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...
4    00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...
Name: customer_id, dtype: object

In [12]:
result = pd.merge(df3,df2, on="customer_id")
result

KeyError: 'article_id'

In [7]:
data=result.groupby('customer_id').agg({'article_id':'first', 
          'prod_name': ', '.join, 
          'product_type_name': ', '.join, 
          'product_group_name': 'first' }).reset_index()

In [8]:
data["ids"]=[i for i in range(0,data.shape[0])]
data

,customer_id,article_id,prod_name,product_type_name,product_group_name,ids
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,656719005,"Serpente HW slim trouser, Mariette Blazer, Mar...","Trousers, Blazer, Blazer, Jacket, Jacket, Hood...",Garment Lower body,0
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,377277001,"Svea Cropped Tank, Henry polo. (1), CORY CORD ...","Vest top, Sweater, Skirt, Skirt, Trousers, Dre...",Garment Upper body,1
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,"Atlanta Push Body Harlow, Atlanta Push Body Ha...","Underwear body, Underwear body, Bra, Blouse, S...",Underwear,2
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,732413001,"PANORAMA sports bra, Panorama mid support bra","Bra, Bra",Underwear,3
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,634249005,"Hedwig essential, Jacket Slim, Jacket Slim, Mo...","Blouse, Jacket, Jacket, Sweater, Bikini top, S...",Garment Upper body,4
...,...,...,...,...,...,...
1362276,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,253448003,"OP Push Melbourne^, Spice Girl 3pk hipster, Sc...","Bra, Underwear bottom, Other accessories, Othe...",Underwear,1362276
1362277,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,507909001,"Rebecca or Delphine shirt, Luna skinny RW, Lun...","Shirt, Trousers, Trousers, Boots, T-shirt, T-s...",Garment Upper body,1362277
1362278,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,573716039,"Kanta slacks, Capone blazer campaign, SUPREME ...","Trousers, Blazer, Leggings/Tights, Leggings/Ti...",Garment Lower body,1362278
1362279,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,714790020,"Mom Fit Ultra HW, Money tee TVP, Liza thong co...","Trousers, T-shirt, Underwear bottom, Dress, Dr...",Garment Lower body,1362279
1362280,ffffd9ac14e89946416d80e791d064701994755c3ab686...,806050001,Ballet highshaft,Boots,Shoes,1362280

In [35]:
def important_features(dataset):
    data=dataset.copy()
    for i in range(0, dataset.shape[0]):
        data["imp"]=data["prod_name"]+' '+data["product_type_name"]+" "+data["product_group_name"]
    return data

In [36]:
data=important_features(result)
data.head()

KeyboardInterrupt:

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np
vec=TfidfVectorizer()

In [17]:
vecs=vec.fit_transform(data["imp"].apply(lambda x: np.str_(x)))

In [18]:
from sklearn.metrics.pairwise import cosine_similarity

In [19]:
sim=cosine_similarity(vecs)

In [20]:
sim[0][0]

1.0000000000000002

In [21]:
def recommend(title):
    product_id=data[data.prod_name==title]["ids"].values[0]
    scores=list(enumerate(sim[product_id]))
    sorted_scores=sorted(scores,key=lambda x:x[1],reverse=True)
    sorted_scores=sorted_scores[1:]
    products=[data[products[0]==data["ids"]]["article_id"].values[0] for products in sorted_scores]
    return products

In [22]:
def recommend_ten(prod_list):
    first_ten=[]
    count=0
    for prod in prod_list:
        if count > 9:
            break
        count+=1
        first_ten.append(prod)
    return first_ten

In [23]:
column_names = ["customer_id","prediction"]

answer = pd.DataFrame(columns = column_names)

answer.head()

Empty DataFrame
Columns: [customer_id, prediction]
Index: []

In [24]:
data.drop_duplicates(subset=['customer_id'])
data

,customer_id,article_id,prod_name,product_type_name,product_group_name,imp,ids
0,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,"Atlanta Push Body Harlow, Rae Push (Melbourne) 2p","Underwear body, Bra","Underwear, Underwear",Atlanta Push Body Harlow Underwear body Underwear,0
1,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,"Inca Jumper, W YODA KNIT OL OFFER, W YODA KNIT...","Sweater, Sweater, Sweater, Sweater, Sweater","Garment Upper body, Garment Upper body, Garmen...",Inca Jumper Sweater Garment Upper body,1
2,00083cda041544b2fbb0e0d2905ad17da7cf1007526fb4...,688873012,"Gyda!, Thomas paperbag wide, Fiona Wide, Gyda!...","Blouse, Trousers, Trousers, Blouse, Blouse","Garment Upper body, Garment Lower body, Garmen...",Gyda! Blouse Garment Upper body,2
3,0008968c0d451dbc5a9968da03196fe20051965edde741...,531310002,"Drew Cardigan, Lauper Sweater","Cardigan, Sweater","Garment Upper body, Garment Upper body",Drew Cardigan Cardigan Garment Upper body,3
4,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,501820043,"SIRPA, SIRPA, Felicia Tank, EDC ROMAN BLOUSE, ...","Sweater, Sweater, Vest top, Blouse, Blouse, Sk...","Garment Upper body, Garment Upper body, Garmen...",SIRPA Sweater Garment Upper body,4
5,001127bffdda108579e6cb16080440e89bf1250a776c6e...,397068015,Skinny L.W Bargain (1),Trousers,Garment Lower body,Skinny L.W Bargain (1) Trousers Garment Lower ...,5
6,001ea4e9c54f7e9c88811260d954edc059d596147e1cf8...,652075001,"Stork fancy, CSP Hackney tank","T-shirt, Vest top","Garment Upper body, Garment Upper body",Stork fancy T-shirt Garment Upper body,6
7,001fd23db1109a94bba1319bb73df0b479059027c182da...,631744002,"Mini Trainer 5p Socks, Space 5 pkt tregging","Socks, Trousers","Socks & Tights, Garment Lower body",Mini Trainer 5p Socks Socks Socks & Tights,7
8,0021da829b898f82269fc51feded4eac2129058ee95bd7...,649356002,"Håkan half zip CC, Dawn trousrer, TVP Henry tr...","Sweater, Trousers, Trousers, Trousers","Garment Upper body, Garment Lower body, Garmen...",Håkan half zip CC Sweater Garment Upper body,8
9,00228762ecff5b8d1ea6a2e52b96dafa198febddbc3bf3...,688545001,SC - MAJOR boot low,Boots,Shoes,SC - MAJOR boot low Boots Shoes,9
10,002b3c0a44a22c45a8d62ea9d2b88d1a89e335f8b84003...,673531001,"Keyring fluff, Greta Shortie (Daisy Mid) 3p, G...","Other accessories, Underwear bottom, Underwear...","Accessories, Underwear, Underwear",Keyring fluff Other accessories Accessories,10
11,003ac6eff3ca20cbe4e14a106a5e28b7551616005de8f9...,617322003,"HM+ Glans tunic, HM+ Glans tunic, Glans SS, ED...","Blouse, Blouse, Blouse, Top","Garment Upper body, Garment Upper body, Garmen...",HM+ Glans tunic Blouse Garment Upper body,11
12,00401a367c5ac085cb9d4b77c56f3edcabf25153615db9...,613456009,"Valentino, A-band unicorn PU, HM+ Katie skated...","Top, Hair/alice band, Dress, Pyjama jumpsuit/p...","Garment Upper body, Accessories, Garment Full ...",Valentino Top Garment Upper body,12
13,00402f4463c8dc1b3ee54abfdea280e96cd87320449eca...,507909001,"Rebecca or Delphine shirt, Swift Dress","Shirt, Dress","Garment Upper body, Garment Full body",Rebecca or Delphine shirt Shirt Garment Upper ...,13
14,0045c79125b4dc958579f902b49eacd8598f9eeaa12205...,211143037,"Janet SL-set (W), Janet SL-set (W), India PJ (...","Pyjama set, Pyjama set, Pyjama set, Pyjama set","Nightwear, Nightwear, Nightwear, Nightwear",Janet SL-set (W) Pyjama set Nightwear,14
15,004888668b9458668aa3234d17337671673599f7f84d36...,662857005,Cindererlla,Sweater,Garment Upper body,Cindererlla Sweater Garment Upper body,15
16,0051a1d00ec9a4ff1a2f9aa32a4bb054cc9ba08e80be59...,640174002,Lola Lace-Up,Sweater,Garment Upper body,Lola Lace-Up Sweater Garment Upper body,16
17,005c9fb2ba6c49b2098a662f64a9124ef95cbec5fcf4eb...,625939005,"Cat Tee, Irma SL-set print (J), Polly pencil c...","T-shirt, Pyjama set, Bag, Bracelet","Garment Upper body, Nightwear, Accessories, Ac...",Cat Tee T-shirt Garment Upper body,17
18,00609a1cc562140fa87a6de432bef9c9f0b936b259ad30...,611415005,"Charlotte Brazilian Aza.Low 2p, Liza Superpush...","Underwear bottom, Bra, Sweater, Sweater, Under...","Underwear, Underwear, Garment Upper body, Garm...",Charlotte Brazilian Aza.Low 2p Underwear botto...,18
19,00708c3da4d07706d4cad77c6aecc1b1ce33d21d73022c...,255396006,"Nora Cardigan, Dolly hood, Jess oversize LS","Cardigan, Sweater, Top","Garment Upper body, Garment Upper body, Garmen...",Nora Cardigan Cardigan Garment Upper body,19
20,0074c5948b6c96e7522f6f5c034b46cf08875b9a81c557...,524825010,Latte slacks (1),Trousers,Garment Lower body,Latte slacks (1) Trousers Garment Lower body,20
21,00761aefe07a2dd6ca110c99f3856ede55f20ff00ce754...,634015003,"FOG tanktop, MIST muscle tank, Boulevard TOP P...","Vest top, Vest top, T-shirt","Garment Upper body, Garment Upper body, Garmen...",FOG tanktop Vest top Garment Upper body,21
22,0077ba345ef6aa8781802107df25bbb8a14fdcd04130c3...,534795002,DOMINIC,Sweater,Garment Upper body,DOMINIC Sweater Garment Upper body,22
23,00796ce0bc561897e7047a7b059867aa6424f63ec597e1...,659550001,lennart dress,Dress,Garment Full body,lennart dress Dress Garment Full body,23
24,007e4c2e0994b4aac97c2713d5dc0b7497d74113f32446...,547752003,Slurp long tregging,Trousers,Garment Lower body,Slurp long tregging Trousers Garment Lower body,24
25,007ea762fbbebfad288a49f1d8f7c2c0c62b189a8816fa...,610671001,Perrie trash,Trousers,Garment Lower body,Perrie trash Trousers Garment Lower body,25

In [25]:
answer['customer_id']=data['customer_id']
answer.head()

                                         customer_id prediction
0  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...        NaN
1  00007d2de826758b65a93dd24ce629ed66842531df6699...        NaN
2  00083cda041544b2fbb0e0d2905ad17da7cf1007526fb4...        NaN
3  0008968c0d451dbc5a9968da03196fe20051965edde741...        NaN
4  000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...        NaN

In [27]:
for i in range(26):
    products=recommend(data.prod_name[i])
    answer["prediction"][i]=recommend_ten(products)

In [28]:
answer.head()

,customer_id,prediction
0,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,"[611415005, 501820043, 662857005, 534795002, 6..."
1,00007d2de826758b65a93dd24ce629ed66842531df6699...,"[501820043, 662857005, 534795002, 640174002, 6..."
2,00083cda041544b2fbb0e0d2905ad17da7cf1007526fb4...,"[617322003, 501820043, 662857005, 534795002, 6..."
3,0008968c0d451dbc5a9968da03196fe20051965edde741...,"[255396006, 501820043, 662857005, 534795002, 6..."
4,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,"[662857005, 534795002, 505221004, 640174002, 6..."

In [29]:
answer.to_csv('answer.csv')